MONGODB_URI=''
DATABASE_NAME=''

APP_PORT=

WEBSITE_DOMAIN_DEVELOPMENT=''
WEBSITE_DOMAIN_PRODUCTION=''

ACCESS_TOKEN_SECRET=''
ACCESS_TOKEN_EXPIRED=''

REFRESH_TOKEN_SECRET=''
REFRESH_TOKEN_EXPIRED=''

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=